html,
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgb(243, 243, 243);
  
}

* {
    border: red 0.25px dotted; 
}

h1 {
    text-align: center;
}

.QuoteBodyDiv {
    border-radius: 0.5rem;
    /*font-weight: bold;*/
    font-size: large;
    margin: 1rem;
    color: rgb(11, 29, 44);
    text-align: center;
    border: blueviolet 0.5px solid;
}

.QuoteBodyDi p {
    padding: 20px 0px;
    font-size: calc(15px + 0.5vw);
    font-style: italic;
}

.SubmitBTN {
    background-color: #00bafa;
    height: 4rem;
    width: 10rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: large;
    margin: 1rem;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}

.SubmitBTN:hover {
    background-color: rgb(72, 37, 228);
}

.BTNdiv {
    text-align: center;
}



